<% provide(:title, "About") %>
<div class="supporting">
  <h1>Book Club</h1>
  <p>
    The Book Club app is designed to allow users to search 
    <a href="http://openlibrary.org">OpenLibrary.org</a>'s public
    books database to find books by title or author name and add them to
    a "reading list" of books that the user wishes to read in the future.
  </p>
  <p>
    Book Club is still in development, and the aim is to eventually provide a 
    platform where users can follow one another's reading lists as well as 
    suggest, rate and review books that they've read.
  </p>
</div>