<% provide(:title, "Contact") %>
<div class="supporting">
  <h1>Contact</h1>
  <p>
    Book Club was developed by Thomas Reis in 2015.
  </p>
  <p>GitHub: <a href="https://github.com/tmichaelreis">tmichaelreis</a></p>
  <p>Email: 
    <a href="mailto:tmichaelreis@gmail.com">tmichaelreis@gmail.com</a>
  </p>
  <p>Resume: 
    <a href="https://docs.google.com/document/d/" + 
            "1OfNIfU0U6GEjEb1nVg9pfjq6xyYpTDfv5MZgUuyzHUE/edit?usp=drive_web">
      Thomas Reis Resume
    </a>
  </p>
</div>
