<% provide(:title, "Help") %>
<div class="supporting">
  <h1>Help</h1>
  <p>
    You must sign up to use the book search feature and to start making a 
    reading list. Once you have created a valid username and password,
    you'll have access to the book search and reading list functionality.
  </p>
  <p>
    In order to add books to your reading list, search the title or author in
    the search bar underneath your gravatar image on the Home page. Results
    will be displayed from the application database, or from the Open Library
    search api. Click the book's cover photo to view it's information page at
    openlibrary.org. Along with each book, you'll see an "Add to reading list" 
    link (or "Remove from reading list" if the book is already on your list).
    Use this link to add the book to your list.
  </p>
</div>
