<h1>Book Club</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Book Club! You ready to 
<%= link_to "activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
your account?
</p>                                                    