<% if @reading_list_items.any? %>
  <ol class="books">
    <%= render @reading_list_items %>
  </ol>
  <%= will_paginate @reading_list_items %>
<% else %>
  <span class="no_books">
    <p>
      You have no books on your reading list :(.
    </p>
    <p>
      Use the book search feature to the left to search for books to read!
    </p>
  </span>
<% end %>