<% logger.info(book) %>
<% title = book.title %>
<% author = book.author_name %>
<% ol_key = book['key'] %>
<% thumbnail_url = "https://covers.openlibrary.org/b/id/" + 
                    book.cover_i.to_s + "-S.jpg" unless book.cover_i.nil? %>
<% first_publish_year = book.first_publish_year %>

<span class="list_link">
  <%= link_to "Add to reading list", 
      add_book_from_api_user_path(:id => current_user.id,
                                  :book_params => { 
                                    :title => title,
                                    :author => author,
                                    :openlibrary_key => ol_key,
                                    :thumbnail_url => thumbnail_url,
                                    :first_publish_year => first_publish_year
                                  }),
                                  :method => :post %>
</span>